In [1]:
import pandas
import numpy
import math

#데이터 호출
data = pandas.read_csv("ml-100k/u.data", sep="\t", names=['User_ID','Movie_ID', 'Rating','TimeStamp'])
user = pandas.read_csv("ml-100k/u.user", sep="|", names=['User_ID','Age', 'Gender','Occupation', 'Zip Code'])
item = pandas.read_csv("ml-100k/u.item", sep="|",
                       names = ['Movie_ID','movie title','release date',
                                'video release date', 'IMDb URL','unknown',
                                'Action','Adventure','Animation','Children\'s',
                                'Comedy','Crime','Documentary','Drama','Fantasy',
                                'Film-Noir','Horror','Musical','Mystery','Romance',
                                'Sci-Fi','Thriller','War','Western'])
genre = pandas.read_csv("ml-100k/u.genre", sep="|", names=['genre_name', 'genre_code'])

In [2]:
#데이터 병합
D_U = pandas.merge(data, user, on='User_ID')
D_U_I = pandas.merge(D_U, item, on='Movie_ID')

#평점 카운팅
rate_CNT = D_U_I.pivot_table('Rating', aggfunc='count', index = 'movie title')
rate_CNT = rate_CNT.sort_values(by='Rating', ascending=False)
pandas.options.display.float_format = '{:.0f}'.format
display(rate_CNT[:100])

#평점 평균
pandas.options.display.float_format = '{:.2f}'.format
rate_AVG = D_U_I.pivot_table('Rating', aggfunc='mean', index = 'movie title')
rate_AVG = rate_AVG.sort_values(by='Rating', ascending=False)
display(rate_AVG[:100])

                              Rating
movie title
Star Wars (1977)                 583
Contact (1997)                   509
Fargo (1996)                     508
Return of the Jedi (1983)        507
Liar Liar (1997)                 485
...                              ...
Aladdin (1992)                   219
Babe (1995)                      219
Volcano (1997)                   219
To Kill a Mockingbird (1962)     219
Murder at 1600 (1997)            218

[100 rows x 1 columns]

                                            Rating
movie title
They Made Me a Criminal (1939)                5.00
Marlene Dietrich: Shadow and Light (1996)     5.00
Saint of Fort Washington, The (1993)          5.00
Someone Else's America (1995)                 5.00
Star Kid (1997)                               5.00
...                                            ...
Arsenic and Old Lace (1944)                   4.08
Wizard of Oz, The (1939)                      4.08
Glory (1989)                                  4.08
Monty Python and the Holy Grail (1974)        4.07
Once Were Warriors (1994)                     4.06

[100 rows x 1 columns]

In [3]:
rate_CNT = D_U_I.pivot_table('Rating', aggfunc='count', index = 'movie title', columns ='Gender')
rate_CNT = rate_CNT.sort_values(by='F', ascending=False)

#평점 카운팅
pandas.options.display.float_format = '{:.0f}'.format
print("Sort based on F")
display(rate_CNT[:100])

#평점 평균
rate_AVG = D_U_I.pivot_table('Rating', aggfunc='mean', index = 'movie title', columns ='Gender')
rate_AVG = rate_AVG.sort_values(by='F', ascending=False)
pandas.options.display.float_format = '{:.2f}'.format
print("Sort based on F")
display(rate_AVG[:100])

Sort based on F

Gender                            F   M
movie title
English Patient, The (1996)     152 329
Star Wars (1977)                151 432
Scream (1996)                   143 335
Liar Liar (1997)                141 344
Contact (1997)                  137 372
...                              ..  ..
Everyone Says I Love You (1996)  57 111
Alien (1979)                     56 235
Much Ado About Nothing (1993)    55 121
Casablanca (1942)                55 188
Aliens (1986)                    55 229

[100 rows x 2 columns]

Sort based on F

Gender                                    F    M
movie title
Prefontaine (1997)                     5.00 5.00
Faster Pussycat! Kill! Kill! (1965)    5.00 2.67
Telling Lies in America (1997)         5.00 3.08
Maya Lin: A Strong Clear Vision (1994) 5.00 4.33
Stripes (1981)                         5.00 3.50
...                                     ...  ...
Sweet Hereafter, The (1997)            4.10 3.68
Local Hero (1983)                      4.10 3.91
Boot, Das (1981)                       4.10 4.23
Notorious (1946)                       4.10 4.12
Brassed Off (1996)                     4.10 3.86

[100 rows x 2 columns]

In [4]:
rate_CNT = D_U_I.pivot_table('Rating', aggfunc='count', index = 'movie title', columns ='Gender')
rate_CNT = rate_CNT.sort_values(by='M', ascending=False)
pandas.options.display.float_format = '{:.0f}'.format
print("Sort based on M")
display(rate_CNT[:100])

rate_AVG = D_U_I.pivot_table('Rating', aggfunc='mean', index = 'movie title', columns ='Gender')
rate_AVG = rate_AVG.sort_values(by='M', ascending=False)
pandas.options.display.float_format = '{:.2f}'.format
print("Sort based on M")
display(rate_AVG[:100])

Sort based on M

Gender                                 F   M
movie title
Star Wars (1977)                     151 432
Return of the Jedi (1983)            124 383
Fargo (1996)                         125 383
Contact (1997)                       137 372
Liar Liar (1997)                     141 344
...                                   ..  ..
Dante's Peak (1997)                   73 167
Volcano (1997)                        54 165
People vs. Larry Flynt, The (1996)    50 165
Stand by Me (1986)                    62 165
Star Trek IV: The Voyage Home (1986)  35 164

[100 rows x 2 columns]

Sort based on M

Gender                                               F    M
movie title
Great Day in Harlem, A (1994)                      NaN 5.00
Santa with Muscles (1996)                          NaN 5.00
Prefontaine (1997)                                5.00 5.00
Aiqing wansui (1994)                               NaN 5.00
Entertaining Angels: The Dorothy Day Story (1996)  NaN 5.00
...                                                ...  ...
Manon of the Spring (Manon des sources) (1986)    4.06 4.15
Sum of Us, The (1994)                             2.50 4.14
Great Escape, The (1963)                          3.96 4.14
M (1931)                                          3.29 4.14
Three Colors: Red (1994)                          3.75 4.13

[100 rows x 2 columns]

In [5]:
#직업별 평점 카운트
Occu_data = pandas.read_csv("ml-100k/u.occupation", sep="\t", names=['Occupation'])
rate_CNT = D_U_I.pivot_table('Rating', aggfunc='count', index = 'movie title', columns ='Occupation')
pandas.options.display.float_format = '{:.0f}'.format

#직업의 종류수 만큼 반복해서 출력
for i in range(0, 21):
    name = Occu_data.iloc[i, 0]
    rate_CNT = rate_CNT.sort_values(by=name, ascending=False)
    print("Sort based on " + name)
    display(rate_CNT[:100])

Sort based on administrator

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
"English Patient, The (1996)",47,13,5,61,33,10,18,9,3,9,...,17,3,55,24,7,6,17,72,12,25
Star Wars (1977),44,18,2,50,50,8,18,11,2,8,...,14,5,62,50,8,5,19,132,22,27
Return of the Jedi (1983),40,16,3,41,44,8,13,11,2,5,...,11,4,54,44,5,5,15,121,19,25
Jerry Maguire (1996),38,5,3,40,24,9,19,8,2,1,...,7,3,46,28,8,4,12,84,10,14
Contact (1997),38,15,3,45,35,13,22,9,5,8,...,18,7,53,35,6,3,17,117,17,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sabrina (1995),18,3,2,17,19,3,9,3,2,3,...,2,2,24,12,4,1,5,39,6,7
George of the Jungle (1997),18,3,1,11,4,3,10,2,1,1,...,6,NaN,28,12,4,1,2,35,6,8
M*A*S*H (1970),18,2,2,27,22,1,7,7,NaN,4,...,5,NaN,19,17,7,2,7,24,10,13
"Postino, Il (1994)",18,7,2,32,14,NaN,5,3,NaN,3,...,6,NaN,20,5,3,1,8,24,3,13
Phenomenon (1996),18,3,2,23,17,4,10,6,1,1,...,5,4,34,19,3,2,5,59,9,11

Sort based on artist

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Star Wars (1977),44,18,2,50,50,8,18,11,2,8,...,14,5,62,50,8,5,19,132,22,27
Chasing Amy (1997),26,17,2,26,22,13,9,7,2,4,...,7,3,41,21,3,2,12,102,16,21
Return of the Jedi (1983),40,16,3,41,44,8,13,11,2,5,...,11,4,54,44,5,5,15,121,19,25
Liar Liar (1997),37,16,2,37,27,11,21,7,4,8,...,15,6,55,37,9,8,11,117,16,25
Contact (1997),38,15,3,45,35,13,22,9,5,8,...,18,7,53,35,6,3,17,117,17,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Twister (1996),26,6,3,23,25,6,13,6,3,1,...,3,4,32,23,3,3,4,73,9,15
"Blues Brothers, The (1980)",20,6,1,24,28,2,7,5,1,5,...,6,NaN,22,21,4,3,7,56,10,14
Swingers (1996),5,6,2,10,15,2,6,2,1,4,...,5,1,19,16,NaN,NaN,6,42,5,7
Butch Cassidy and the Sundance Kid (1969),21,6,2,29,26,2,9,6,NaN,5,...,7,1,22,14,5,2,3,26,5,13
Apocalypse Now (1979),19,6,NaN,20,30,4,8,5,NaN,3,...,7,NaN,22,20,3,2,4,37,9,12

Sort based on doctor

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Titanic (1997),22,9,5,22,19,7,12,9,4,4,...,10,2,41,24,7,6,11,79,10,20
"English Patient, The (1996)",47,13,5,61,33,10,18,9,3,9,...,17,3,55,24,7,6,17,72,12,25
Air Force One (1997),38,11,5,37,26,10,14,11,6,6,...,16,6,58,33,5,5,11,77,12,21
Ulee's Gold (1997),13,8,4,30,7,6,6,5,NaN,1,...,6,NaN,21,8,1,2,8,22,4,9
Toy Story (1995),31,12,4,41,46,11,17,7,2,6,...,10,6,51,35,3,4,11,105,17,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Gattaca (1997),12,3,2,14,6,5,7,3,1,3,...,4,2,14,9,1,1,8,24,1,9
M*A*S*H (1970),18,2,2,27,22,1,7,7,NaN,4,...,5,NaN,19,17,7,2,7,24,10,13
Burnt By the Sun (1994),NaN,1,1,3,2,NaN,NaN,2,NaN,NaN,...,NaN,1,4,1,NaN,NaN,1,2,1,1
Mimic (1997),10,1,1,6,6,3,4,3,2,NaN,...,2,1,9,6,1,1,4,25,4,9
Deconstructing Harry (1997),5,1,1,9,4,4,3,1,NaN,NaN,...,3,NaN,3,2,2,NaN,2,11,1,7

Sort based on educator

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
"English Patient, The (1996)",47,13,5,61,33,10,18,9,3,9,...,17,3,55,24,7,6,17,72,12,25
Fargo (1996),36,14,4,54,45,11,17,9,1,7,...,9,4,53,47,10,3,18,95,18,27
Star Wars (1977),44,18,2,50,50,8,18,11,2,8,...,14,5,62,50,8,5,19,132,22,27
Contact (1997),38,15,3,45,35,13,22,9,5,8,...,18,7,53,35,6,3,17,117,17,24
"Godfather, The (1972)",32,12,2,43,33,6,14,10,1,4,...,12,1,53,32,8,4,13,76,13,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vertigo (1958),17,9,1,22,16,3,5,3,NaN,4,...,3,NaN,19,9,5,NaN,2,26,4,15
Cool Hand Luke (1967),16,3,1,22,21,1,9,5,NaN,3,...,2,NaN,19,13,3,2,4,18,7,5
Titanic (1997),22,9,5,22,19,7,12,9,4,4,...,10,2,41,24,7,6,11,79,10,20
Mighty Aphrodite (1995),13,8,2,22,15,4,7,5,1,2,...,5,NaN,21,15,1,2,6,27,6,8
This Is Spinal Tap (1984),14,5,2,22,17,6,3,3,NaN,3,...,4,NaN,16,22,3,1,5,31,10,15

Sort based on engineer

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Star Wars (1977),44,18,2,50,50,8,18,11,2,8,...,14,5,62,50,8,5,19,132,22,27
Toy Story (1995),31,12,4,41,46,11,17,7,2,6,...,10,6,51,35,3,4,11,105,17,16
Fargo (1996),36,14,4,54,45,11,17,9,1,7,...,9,4,53,47,10,3,18,95,18,27
Return of the Jedi (1983),40,16,3,41,44,8,13,11,2,5,...,11,4,54,44,5,5,15,121,19,25
Raiders of the Lost Ark (1981),29,13,1,33,44,6,13,9,1,6,...,9,2,46,42,5,3,12,86,17,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Stand by Me (1986),20,5,1,27,20,4,4,5,NaN,3,...,6,NaN,23,17,3,3,5,48,9,10
Ransom (1996),17,5,4,13,20,7,13,5,2,1,...,6,4,35,19,1,4,5,69,10,13
Gandhi (1982),15,3,NaN,25,20,3,8,5,NaN,3,...,6,2,18,18,3,2,5,31,7,8
Clear and Present Danger (1994),16,4,NaN,12,20,4,8,5,NaN,2,...,3,3,16,15,4,1,4,40,7,6
Field of Dreams (1989),20,3,NaN,25,20,4,5,4,NaN,2,...,5,1,22,17,3,3,5,45,7,10

Sort based on entertainment

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Contact (1997),38,15,3,45,35,13,22,9,5,8,...,18,7,53,35,6,3,17,117,17,24
Scream (1996),33,11,3,35,23,13,16,10,4,5,...,10,6,56,33,5,5,12,137,14,27
Chasing Amy (1997),26,17,2,26,22,13,9,7,2,4,...,7,3,41,21,3,2,12,102,16,21
L.A. Confidential (1997),20,9,4,33,21,12,10,6,2,4,...,11,3,28,20,5,3,11,48,5,22
Fargo (1996),36,14,4,54,45,11,17,9,1,7,...,9,4,53,47,10,3,18,95,18,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Crimson Tide (1995),13,2,NaN,9,15,5,5,3,NaN,1,...,3,2,19,16,3,1,5,31,9,8
Seven (Se7en) (1995),12,4,NaN,19,15,5,6,6,1,3,...,2,3,26,26,2,2,8,69,7,8
Bound (1996),5,4,1,13,8,5,4,2,NaN,1,...,2,NaN,20,12,2,NaN,5,26,4,10
Carrie (1976),10,NaN,NaN,14,8,5,4,2,NaN,2,...,1,NaN,12,9,2,1,1,29,4,11
Schindler's List (1993),19,9,2,35,25,5,9,5,NaN,4,...,8,1,37,21,6,1,8,63,10,9

Sort based on executive

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Contact (1997),38,15,3,45,35,13,22,9,5,8,...,18,7,53,35,6,3,17,117,17,24
Liar Liar (1997),37,16,2,37,27,11,21,7,4,8,...,15,6,55,37,9,8,11,117,16,25
Jerry Maguire (1996),38,5,3,40,24,9,19,8,2,1,...,7,3,46,28,8,4,12,84,10,14
Murder at 1600 (1997),11,4,2,24,9,6,18,5,5,3,...,12,2,30,8,6,2,3,34,8,13
"English Patient, The (1996)",47,13,5,61,33,10,18,9,3,9,...,17,3,55,24,7,6,17,72,12,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Beautician and the Beast, The (1997)",6,NaN,NaN,8,5,3,8,4,NaN,NaN,...,2,2,16,4,1,NaN,1,17,1,5
Annie Hall (1977),21,7,2,23,16,3,8,4,NaN,3,...,6,NaN,13,14,4,1,9,17,4,11
Cold Comfort Farm (1995),10,2,1,18,13,2,8,3,NaN,2,...,1,NaN,11,6,3,NaN,4,16,3,11
"Sound of Music, The (1965)",17,6,1,21,22,2,8,6,1,4,...,6,2,23,14,4,1,6,49,8,10
Braveheart (1995),21,5,1,27,28,6,8,4,1,5,...,6,3,29,29,4,2,9,73,14,7

Sort based on healthcare

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Return of the Jedi (1983),40,16,3,41,44,8,13,11,2,5,...,11,4,54,44,5,5,15,121,19,25
Star Wars (1977),44,18,2,50,50,8,18,11,2,8,...,14,5,62,50,8,5,19,132,22,27
Air Force One (1997),38,11,5,37,26,10,14,11,6,6,...,16,6,58,33,5,5,11,77,12,21
"Godfather, The (1972)",32,12,2,43,33,6,14,10,1,4,...,12,1,53,32,8,4,13,76,13,22
Independence Day (ID4) (1996),33,7,3,36,42,7,17,10,3,2,...,9,5,41,31,6,5,12,110,18,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Lion King, The (1994)",13,7,1,18,25,3,7,5,NaN,1,...,3,2,29,17,2,1,3,51,12,9
"Wizard of Oz, The (1939)",23,9,1,23,25,3,7,5,NaN,4,...,6,1,26,22,3,1,8,46,10,10
Chinatown (1974),15,5,NaN,17,13,2,4,5,NaN,4,...,3,NaN,13,18,5,NaN,4,17,4,10
Gandhi (1982),15,3,NaN,25,20,3,8,5,NaN,3,...,6,2,18,18,3,2,5,31,7,8
Schindler's List (1993),19,9,2,35,25,5,9,5,NaN,4,...,8,1,37,21,6,1,8,63,10,9

Sort based on homemaker

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
"Saint, The (1997)",17,5,2,32,17,4,17,7,6,4,...,13,4,48,23,2,5,9,68,9,12
Conspiracy Theory (1997),19,9,1,29,13,5,10,5,6,4,...,14,2,39,21,2,2,11,61,12,18
Air Force One (1997),38,11,5,37,26,10,14,11,6,6,...,16,6,58,33,5,5,11,77,12,21
Murder at 1600 (1997),11,4,2,24,9,6,18,5,5,3,...,12,2,30,8,6,2,3,34,8,13
Contact (1997),38,15,3,45,35,13,22,9,5,8,...,18,7,53,35,6,3,17,117,17,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kansas City (1996),1,NaN,NaN,2,4,1,1,1,1,1,...,NaN,NaN,1,1,2,NaN,NaN,3,2,1
Surviving Picasso (1996),NaN,2,NaN,2,3,NaN,2,1,1,1,...,NaN,NaN,1,NaN,1,NaN,NaN,3,NaN,NaN
Flipper (1996),1,NaN,NaN,2,1,NaN,1,1,1,NaN,...,1,NaN,4,2,NaN,NaN,NaN,1,1,3
Fathers' Day (1997),1,1,NaN,1,1,2,1,1,1,NaN,...,1,NaN,7,2,1,NaN,NaN,8,NaN,1
"Craft, The (1996)",3,2,NaN,6,8,2,6,NaN,1,NaN,...,NaN,1,13,4,2,NaN,1,42,3,7

Sort based on lawyer

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
"English Patient, The (1996)",47,13,5,61,33,10,18,9,3,9,...,17,3,55,24,7,6,17,72,12,25
"Full Monty, The (1997)",32,7,1,42,25,7,10,6,1,9,...,12,3,32,20,4,3,8,42,8,17
Star Wars (1977),44,18,2,50,50,8,18,11,2,8,...,14,5,62,50,8,5,19,132,22,27
Contact (1997),38,15,3,45,35,13,22,9,5,8,...,18,7,53,35,6,3,17,117,17,24
Liar Liar (1997),37,16,2,37,27,11,21,7,4,8,...,15,6,55,37,9,8,11,117,16,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
To Kill a Mockingbird (1962),26,6,1,24,18,3,6,5,NaN,3,...,6,1,24,15,4,1,1,40,5,15
Apocalypse Now (1979),19,6,NaN,20,30,4,8,5,NaN,3,...,7,NaN,22,20,3,2,4,37,9,12
Pinocchio (1940),7,2,NaN,6,13,1,1,4,NaN,3,...,2,2,14,6,3,NaN,1,28,2,5
"Unbearable Lightness of Being, The (1988)",6,2,1,16,8,3,2,4,NaN,3,...,NaN,NaN,6,9,1,NaN,3,10,3,6
"Big Sleep, The (1946)",6,4,NaN,10,5,2,2,3,NaN,3,...,1,NaN,8,5,2,NaN,1,4,1,8

Sort based on librarian

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
"English Patient, The (1996)",47,13,5,61,33,10,18,9,3,9,...,17,3,55,24,7,6,17,72,12,25
Star Wars (1977),44,18,2,50,50,8,18,11,2,8,...,14,5,62,50,8,5,19,132,22,27
Titanic (1997),22,9,5,22,19,7,12,9,4,4,...,10,2,41,24,7,6,11,79,10,20
Fargo (1996),36,14,4,54,45,11,17,9,1,7,...,9,4,53,47,10,3,18,95,18,27
"Full Monty, The (1997)",32,7,1,42,25,7,10,6,1,9,...,12,3,32,20,4,3,8,42,8,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Star Trek: First Contact (1996),27,9,3,31,38,8,14,8,1,3,...,6,6,33,37,1,3,10,82,16,17
"Shining, The (1980)",19,2,NaN,12,18,6,10,3,NaN,3,...,5,1,19,19,3,3,4,46,8,13
Mr. Holland's Opus (1995),24,5,3,28,21,6,14,4,2,3,...,7,3,38,26,5,2,6,60,11,13
Psycho (1960),19,8,3,27,18,5,9,6,NaN,3,...,4,2,25,17,4,3,3,48,7,16
Blade Runner (1982),25,10,1,24,30,5,8,4,NaN,3,...,4,3,25,32,3,3,7,53,12,11

Sort based on marketing

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Contact (1997),38,15,3,45,35,13,22,9,5,8,...,18,7,53,35,6,3,17,117,17,24
"English Patient, The (1996)",47,13,5,61,33,10,18,9,3,9,...,17,3,55,24,7,6,17,72,12,25
Air Force One (1997),38,11,5,37,26,10,14,11,6,6,...,16,6,58,33,5,5,11,77,12,21
Liar Liar (1997),37,16,2,37,27,11,21,7,4,8,...,15,6,55,37,9,8,11,117,16,25
Conspiracy Theory (1997),19,9,1,29,13,5,10,5,6,4,...,14,2,39,21,2,2,11,61,12,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Raging Bull (1980),9,4,NaN,15,9,2,4,3,NaN,3,...,5,NaN,10,9,3,1,1,16,5,8
"Philadelphia Story, The (1940)",8,4,1,17,11,1,4,2,NaN,5,...,5,NaN,15,5,3,NaN,NaN,6,1,7
G.I. Jane (1997),15,4,1,20,6,3,7,4,3,4,...,5,2,30,13,3,NaN,5,30,7,10
Breakfast at Tiffany's (1961),6,3,NaN,13,8,NaN,3,3,NaN,2,...,5,NaN,14,6,2,NaN,1,14,3,3
Full Metal Jacket (1987),15,3,NaN,16,22,2,5,4,NaN,2,...,5,2,16,18,2,NaN,4,34,10,6

Sort based on none

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Contact (1997),38,15,3,45,35,13,22,9,5,8,...,18,7,53,35,6,3,17,117,17,24
Air Force One (1997),38,11,5,37,26,10,14,11,6,6,...,16,6,58,33,5,5,11,77,12,21
Liar Liar (1997),37,16,2,37,27,11,21,7,4,8,...,15,6,55,37,9,8,11,117,16,25
Toy Story (1995),31,12,4,41,46,11,17,7,2,6,...,10,6,51,35,3,4,11,105,17,16
Scream (1996),33,11,3,35,23,13,16,10,4,5,...,10,6,56,33,5,5,12,137,14,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Speed (1994),19,3,NaN,15,22,2,5,4,1,3,...,6,3,21,26,1,1,3,66,9,9
GoldenEye (1995),5,1,NaN,6,16,2,4,3,NaN,1,...,2,2,15,17,1,NaN,2,39,7,7
Super Mario Bros. (1993),1,NaN,NaN,2,1,NaN,1,2,NaN,1,...,NaN,2,3,3,NaN,NaN,NaN,9,NaN,1
Sgt. Bilko (1996),2,2,NaN,5,7,1,4,NaN,NaN,1,...,1,2,6,6,2,2,NaN,22,6,4
"Santa Clause, The (1994)",6,NaN,NaN,5,7,1,2,2,NaN,2,...,2,2,8,8,1,2,NaN,23,4,4

Sort based on other

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Star Wars (1977),44,18,2,50,50,8,18,11,2,8,...,14,5,62,50,8,5,19,132,22,27
Air Force One (1997),38,11,5,37,26,10,14,11,6,6,...,16,6,58,33,5,5,11,77,12,21
Scream (1996),33,11,3,35,23,13,16,10,4,5,...,10,6,56,33,5,5,12,137,14,27
Liar Liar (1997),37,16,2,37,27,11,21,7,4,8,...,15,6,55,37,9,8,11,117,16,25
"English Patient, The (1996)",47,13,5,61,33,10,18,9,3,9,...,17,3,55,24,7,6,17,72,12,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Everyone Says I Love You (1996),16,5,2,23,5,5,6,4,2,3,...,4,1,23,7,3,NaN,3,30,2,11
Boogie Nights (1997),15,7,1,24,11,4,6,3,NaN,5,...,7,2,23,8,2,3,8,27,4,14
Mother (1996),21,3,NaN,18,10,8,8,4,2,2,...,4,2,23,3,5,1,4,28,4,10
Courage Under Fire (1996),22,2,2,18,19,5,12,6,2,NaN,...,4,4,23,17,4,1,3,54,9,6
"Boot, Das (1981)",17,4,1,32,19,4,6,8,NaN,4,...,5,NaN,23,11,3,2,9,19,7,13

Sort based on programmer

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Star Wars (1977),44,18,2,50,50,8,18,11,2,8,...,14,5,62,50,8,5,19,132,22,27
Fargo (1996),36,14,4,54,45,11,17,9,1,7,...,9,4,53,47,10,3,18,95,18,27
Return of the Jedi (1983),40,16,3,41,44,8,13,11,2,5,...,11,4,54,44,5,5,15,121,19,25
Raiders of the Lost Ark (1981),29,13,1,33,44,6,13,9,1,6,...,9,2,46,42,5,3,12,86,17,22
Liar Liar (1997),37,16,2,37,27,11,21,7,4,8,...,15,6,55,37,9,8,11,117,16,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Graduate, The (1967)",20,5,1,29,23,4,10,5,NaN,5,...,6,1,22,18,5,2,10,33,9,13
Gandhi (1982),15,3,NaN,25,20,3,8,5,NaN,3,...,6,2,18,18,3,2,5,31,7,8
Full Metal Jacket (1987),15,3,NaN,16,22,2,5,4,NaN,2,...,5,2,16,18,2,NaN,4,34,10,6
Chinatown (1974),15,5,NaN,17,13,2,4,5,NaN,4,...,3,NaN,13,18,5,NaN,4,17,4,10
Heat (1995),12,4,NaN,17,18,8,9,5,NaN,2,...,3,1,26,18,3,2,10,58,8,13

Sort based on retired

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Fargo (1996),36,14,4,54,45,11,17,9,1,7,...,9,4,53,47,10,3,18,95,18,27
Liar Liar (1997),37,16,2,37,27,11,21,7,4,8,...,15,6,55,37,9,8,11,117,16,25
Star Wars (1977),44,18,2,50,50,8,18,11,2,8,...,14,5,62,50,8,5,19,132,22,27
"Godfather, The (1972)",32,12,2,43,33,6,14,10,1,4,...,12,1,53,32,8,4,13,76,13,22
Jerry Maguire (1996),38,5,3,40,24,9,19,8,2,1,...,7,3,46,28,8,4,12,84,10,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Quiet Man, The (1952)",9,NaN,NaN,11,7,1,1,1,NaN,2,...,NaN,NaN,9,5,4,NaN,NaN,3,4,3
Sabrina (1995),18,3,2,17,19,3,9,3,2,3,...,2,2,24,12,4,1,5,39,6,7
"Blues Brothers, The (1980)",20,6,1,24,28,2,7,5,1,5,...,6,NaN,22,21,4,3,7,56,10,14
Broken Arrow (1996),23,2,2,18,25,6,13,4,2,1,...,4,3,21,21,4,5,2,69,10,12
"Streetcar Named Desire, A (1951)",9,4,NaN,14,11,1,3,4,NaN,1,...,3,NaN,9,3,4,1,4,14,2,6

Sort based on salesman

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Liar Liar (1997),37,16,2,37,27,11,21,7,4,8,...,15,6,55,37,9,8,11,117,16,25
Titanic (1997),22,9,5,22,19,7,12,9,4,4,...,10,2,41,24,7,6,11,79,10,20
"English Patient, The (1996)",47,13,5,61,33,10,18,9,3,9,...,17,3,55,24,7,6,17,72,12,25
Cop Land (1997),13,3,NaN,21,7,4,7,3,2,3,...,8,2,22,11,3,6,6,36,5,9
Independence Day (ID4) (1996),33,7,3,36,42,7,17,10,3,2,...,9,5,41,31,6,5,12,110,18,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Real Genius (1985),5,NaN,1,8,16,1,1,2,NaN,2,...,1,1,12,13,2,2,1,37,5,5
Benny & Joon (1993),8,3,1,11,8,1,1,1,NaN,1,...,1,NaN,11,10,2,2,2,20,5,4
French Kiss (1995),8,NaN,NaN,7,6,1,1,2,NaN,1,...,NaN,1,12,5,2,2,NaN,24,2,4
Twelve Monkeys (1995),29,10,2,35,34,10,16,7,1,4,...,3,5,39,35,2,2,8,105,12,18
In & Out (1997),27,4,NaN,34,9,7,5,4,NaN,2,...,6,3,30,11,5,2,4,47,6,7

Sort based on scientist

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Star Wars (1977),44,18,2,50,50,8,18,11,2,8,...,14,5,62,50,8,5,19,132,22,27
Fargo (1996),36,14,4,54,45,11,17,9,1,7,...,9,4,53,47,10,3,18,95,18,27
Contact (1997),38,15,3,45,35,13,22,9,5,8,...,18,7,53,35,6,3,17,117,17,24
"English Patient, The (1996)",47,13,5,61,33,10,18,9,3,9,...,17,3,55,24,7,6,17,72,12,25
Return of the Jedi (1983),40,16,3,41,44,8,13,11,2,5,...,11,4,54,44,5,5,15,121,19,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Glory (1989),13,2,NaN,23,9,2,5,4,NaN,2,...,5,NaN,15,15,1,1,6,46,8,6
Swingers (1996),5,6,2,10,15,2,6,2,1,4,...,5,1,19,16,NaN,NaN,6,42,5,7
Starship Troopers (1997),15,6,2,15,14,8,7,4,2,4,...,4,3,20,14,1,2,6,51,10,16
"Devil's Own, The (1997)",21,5,1,25,11,4,11,5,1,3,...,9,4,33,16,2,5,6,45,11,12
Cop Land (1997),13,3,NaN,21,7,4,7,3,2,3,...,8,2,22,11,3,6,6,36,5,9

Sort based on student

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Scream (1996),33,11,3,35,23,13,16,10,4,5,...,10,6,56,33,5,5,12,137,14,27
Star Wars (1977),44,18,2,50,50,8,18,11,2,8,...,14,5,62,50,8,5,19,132,22,27
Return of the Jedi (1983),40,16,3,41,44,8,13,11,2,5,...,11,4,54,44,5,5,15,121,19,25
Contact (1997),38,15,3,45,35,13,22,9,5,8,...,18,7,53,35,6,3,17,117,17,24
Liar Liar (1997),37,16,2,37,27,11,21,7,4,8,...,15,6,55,37,9,8,11,117,16,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Psycho (1960),19,8,3,27,18,5,9,6,NaN,3,...,4,2,25,17,4,3,3,48,7,16
Stand by Me (1986),20,5,1,27,20,4,4,5,NaN,3,...,6,NaN,23,17,3,3,5,48,9,10
"Clockwork Orange, A (1971)",16,5,1,27,26,4,6,3,NaN,3,...,5,1,19,15,4,2,4,48,10,11
In & Out (1997),27,4,NaN,34,9,7,5,4,NaN,2,...,6,3,30,11,5,2,4,47,6,7
Sleepers (1996),14,4,NaN,8,13,3,9,4,2,NaN,...,4,2,16,15,3,2,2,47,3,9

Sort based on technician

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Star Wars (1977),44,18,2,50,50,8,18,11,2,8,...,14,5,62,50,8,5,19,132,22,27
Return of the Jedi (1983),40,16,3,41,44,8,13,11,2,5,...,11,4,54,44,5,5,15,121,19,25
Fargo (1996),36,14,4,54,45,11,17,9,1,7,...,9,4,53,47,10,3,18,95,18,27
Independence Day (ID4) (1996),33,7,3,36,42,7,17,10,3,2,...,9,5,41,31,6,5,12,110,18,17
Contact (1997),38,15,3,45,35,13,22,9,5,8,...,18,7,53,35,6,3,17,117,17,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Men in Black (1997),24,6,3,18,27,6,15,7,NaN,4,...,3,2,32,28,6,4,8,74,9,18
"Godfather: Part II, The (1974)",17,8,1,23,16,2,9,4,NaN,3,...,5,1,21,18,3,1,6,40,9,13
"Game, The (1997)",10,7,2,18,17,9,13,6,4,4,...,10,3,28,15,4,4,7,56,9,14
"Shawshank Redemption, The (1994)",21,8,1,29,22,6,8,6,NaN,4,...,7,3,30,26,5,5,8,61,9,11
Die Hard 2 (1990),9,1,NaN,10,18,3,5,2,NaN,2,...,4,3,18,18,2,2,3,41,9,9

Sort based on writer

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Star Wars (1977),44,18,2,50,50,8,18,11,2,8,...,14,5,62,50,8,5,19,132,22,27
Fargo (1996),36,14,4,54,45,11,17,9,1,7,...,9,4,53,47,10,3,18,95,18,27
Scream (1996),33,11,3,35,23,13,16,10,4,5,...,10,6,56,33,5,5,12,137,14,27
"English Patient, The (1996)",47,13,5,61,33,10,18,9,3,9,...,17,3,55,24,7,6,17,72,12,25
Return of the Jedi (1983),40,16,3,41,44,8,13,11,2,5,...,11,4,54,44,5,5,15,121,19,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Batman (1989),14,3,NaN,13,21,3,3,5,NaN,2,...,3,3,19,20,3,1,2,55,8,12
Jurassic Park (1993),22,5,NaN,18,28,3,5,4,1,4,...,7,3,29,23,3,1,5,66,12,12
"Saint, The (1997)",17,5,2,32,17,4,17,7,6,4,...,13,4,48,23,2,5,9,68,9,12
Clueless (1995),13,3,1,14,12,3,3,2,NaN,3,...,2,2,19,13,3,2,3,45,6,11
Cold Comfort Farm (1995),10,2,1,18,13,2,8,3,NaN,2,...,1,NaN,11,6,3,NaN,4,16,3,11

In [6]:
#직업별 평점 평균
rate_AVG = D_U_I.pivot_table('Rating', aggfunc='mean', index = 'movie title', columns ='Occupation')
pandas.options.display.float_format = '{:.2f}'.format
for i in range(0, 21):
    name = Occu_data.iloc[i, 0]
    rate_AVG = rate_AVG.sort_values(by=name, ascending=False)
    print("Sort based on " + name)
    display(rate_AVG[:100])

Sort based on administrator

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
"Cry, the Beloved Country (1995)",5.00,4.00,NaN,3.75,4.00,NaN,1.50,2.00,NaN,NaN,...,NaN,NaN,4.00,4.00,4.00,NaN,NaN,4.50,NaN,NaN
"Truman Show, The (1998)",5.00,2.00,NaN,NaN,4.00,1.00,3.00,NaN,NaN,NaN,...,NaN,NaN,2.50,NaN,3.00,1.00,NaN,4.00,NaN,NaN
Orlando (1993),5.00,4.33,NaN,4.50,3.00,4.00,NaN,3.00,NaN,3.00,...,NaN,NaN,3.25,3.33,NaN,NaN,5.00,3.40,4.00,3.00
"Visitors, The (Visiteurs, Les) (1993)",5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00,NaN,NaN
"Assignment, The (1997)",5.00,NaN,5.00,3.50,NaN,3.00,2.00,3.00,NaN,NaN,...,NaN,NaN,5.00,NaN,NaN,4.00,NaN,2.25,5.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
It's a Wonderful Life (1946),4.47,3.83,3.50,4.30,4.04,4.50,4.00,4.00,5.00,4.20,...,5.00,4.50,4.48,4.06,3.50,4.00,4.33,3.82,4.00,3.64
"Professional, The (1994)",4.44,4.20,2.50,4.00,4.00,3.50,3.86,1.50,NaN,4.00,...,3.00,5.00,3.50,3.67,3.00,NaN,4.00,3.62,3.33,3.14
Fargo (1996),4.44,3.93,3.75,4.31,4.29,3.91,4.47,3.67,4.00,4.57,...,4.33,4.25,4.19,4.30,4.10,4.33,4.22,3.94,3.44,3.96
"Silence of the Lambs, The (1991)",4.44,4.56,4.50,4.17,4.42,4.83,4.58,4.17,3.00,4.17,...,4.22,5.00,4.29,4.37,3.75,4.60,4.31,4.28,3.62,4.17
As Good As It Gets (1997),4.43,4.00,4.00,4.20,3.50,3.67,5.00,4.50,4.50,4.25,...,5.00,4.00,4.23,4.44,3.33,4.50,4.00,4.21,4.00,4.40

Sort based on artist

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Year of the Horse (1997),NaN,5.00,NaN,2.00,NaN,4.00,1.00,NaN,NaN,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.00,NaN,NaN
"Adventures of Pinocchio, The (1996)",1.00,5.00,NaN,3.33,3.17,NaN,1.00,3.00,NaN,4.00,...,NaN,4.00,2.86,2.75,NaN,NaN,NaN,2.89,NaN,4.00
Demolition Man (1993),2.50,5.00,NaN,3.67,3.09,2.00,2.00,2.33,NaN,3.00,...,3.00,5.00,3.44,3.25,2.00,NaN,3.00,3.43,2.75,2.20
Burnt By the Sun (1994),NaN,5.00,5.00,4.67,3.00,NaN,NaN,2.00,NaN,NaN,...,NaN,2.00,4.50,2.00,NaN,NaN,3.00,3.50,4.00,1.00
Touch of Evil (1958),4.00,5.00,NaN,4.00,4.00,4.00,4.00,2.00,NaN,NaN,...,NaN,NaN,4.33,3.75,4.00,4.00,NaN,3.88,NaN,4.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E.T. the Extra-Terrestrial (1982),3.96,4.57,3.00,4.11,3.63,3.60,3.75,4.00,2.00,3.50,...,4.33,4.00,4.09,4.04,4.25,5.00,3.75,3.49,3.71,3.56
"Full Monty, The (1997)",3.94,4.57,4.00,3.90,3.96,4.57,3.40,3.83,3.00,3.78,...,3.83,4.67,4.06,3.65,4.25,3.67,3.88,3.86,3.88,4.00
"Manchurian Candidate, The (1962)",4.27,4.57,NaN,4.29,3.92,5.00,4.67,2.67,NaN,4.00,...,4.00,5.00,4.50,4.18,4.25,5.00,5.00,4.60,4.50,4.22
"Maltese Falcon, The (1941)",4.08,4.57,4.00,4.46,4.36,4.00,4.40,3.80,NaN,5.00,...,4.25,NaN,4.00,4.09,4.00,5.00,4.00,3.95,4.57,4.22
"Silence of the Lambs, The (1991)",4.44,4.56,4.50,4.17,4.42,4.83,4.58,4.17,3.00,4.17,...,4.22,5.00,4.29,4.37,3.75,4.60,4.31,4.28,3.62,4.17

Sort based on doctor

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Burnt By the Sun (1994),NaN,5.00,5.00,4.67,3.00,NaN,NaN,2.00,NaN,NaN,...,NaN,2.00,4.50,2.00,NaN,NaN,3.00,3.50,4.00,1.00
"Godfather: Part II, The (1974)",3.88,4.25,5.00,4.48,4.12,4.50,4.33,4.50,NaN,4.00,...,4.60,3.00,3.90,4.17,4.33,3.00,4.50,4.22,4.00,4.15
I Know What You Did Last Summer (1997),3.50,3.00,5.00,2.00,1.00,3.83,2.75,NaN,NaN,2.50,...,2.33,3.50,2.60,3.00,NaN,4.00,3.00,3.13,3.33,3.12
Annie Hall (1977),3.57,4.29,5.00,4.09,3.62,3.67,4.38,3.50,NaN,3.33,...,4.00,NaN,3.92,4.00,3.75,1.00,4.00,4.18,3.00,3.82
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963),4.28,4.29,5.00,4.57,4.29,4.67,4.29,4.00,NaN,4.00,...,4.00,NaN,4.00,4.24,4.00,5.00,4.71,4.24,3.90,4.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shooting Fish (1997),NaN,NaN,4.00,NaN,NaN,NaN,2.00,1.00,NaN,NaN,...,NaN,NaN,4.00,NaN,NaN,NaN,NaN,2.00,NaN,NaN
Hamlet (1996),4.33,3.50,4.00,4.20,3.70,5.00,NaN,4.00,NaN,4.00,...,3.00,4.00,3.82,4.20,3.50,5.00,4.50,4.32,4.00,3.25
Local Hero (1983),4.25,3.75,4.00,4.60,4.00,3.00,4.00,1.50,NaN,4.00,...,4.00,NaN,4.33,3.50,3.33,NaN,4.00,2.50,NaN,4.50
Diva (1981),4.20,3.75,4.00,3.62,4.00,5.00,NaN,2.50,NaN,NaN,...,NaN,NaN,3.67,3.78,3.00,NaN,4.67,3.75,NaN,4.00
Mighty Aphrodite (1995),3.38,3.75,4.00,3.64,3.80,4.50,3.29,3.20,2.00,3.00,...,4.00,NaN,3.00,2.93,3.00,3.00,3.33,3.37,4.00,2.75

Sort based on educator

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Faithful (1996),NaN,NaN,NaN,5.00,NaN,NaN,1.00,NaN,NaN,NaN,...,NaN,4.00,3.00,5.00,NaN,NaN,NaN,4.00,NaN,2.00
Go Fish (1994),4.50,NaN,3.00,5.00,3.00,NaN,NaN,2.00,NaN,NaN,...,NaN,NaN,3.00,3.00,NaN,NaN,NaN,4.00,NaN,2.50
Boy's Life 2 (1997),NaN,2.00,NaN,5.00,NaN,NaN,NaN,1.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.00,NaN,3.00
Steel (1997),1.00,NaN,5.00,5.00,NaN,3.00,2.00,NaN,NaN,NaN,...,NaN,NaN,2.67,1.00,NaN,3.00,NaN,1.50,1.00,1.00
Night on Earth (1991),4.25,4.00,3.00,5.00,3.50,5.00,NaN,1.00,NaN,5.00,...,5.00,NaN,3.50,3.50,4.00,NaN,4.00,3.50,4.50,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Rebel Without a Cause (1955),4.00,5.00,NaN,4.36,3.64,3.50,3.67,3.50,NaN,3.50,...,3.75,NaN,3.88,3.71,4.00,NaN,NaN,3.75,4.50,3.62
Three Colors: Blue (1993),3.67,4.00,4.50,4.36,3.83,5.00,4.00,3.00,NaN,3.50,...,3.00,NaN,4.50,4.00,3.00,NaN,4.33,4.00,4.00,NaN
"Shawshank Redemption, The (1994)",4.57,3.88,5.00,4.34,4.55,4.00,4.75,4.00,NaN,4.50,...,4.71,5.00,4.43,4.46,3.80,4.40,4.25,4.59,4.78,3.91
"African Queen, The (1951)",4.33,4.60,4.00,4.33,4.06,4.50,4.20,4.00,3.00,4.50,...,4.00,NaN,4.29,4.18,5.00,NaN,4.17,4.00,4.00,3.80
"Thin Blue Line, The (1988)",4.00,4.00,NaN,4.33,3.67,NaN,NaN,3.00,NaN,5.00,...,NaN,NaN,5.00,3.00,NaN,3.00,4.00,3.40,3.50,3.33

Sort based on engineer

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
"Little Princess, A (1995)",4.00,3.00,NaN,3.75,5.00,NaN,4.50,4.00,NaN,NaN,...,2.00,NaN,4.20,3.20,3.00,NaN,NaN,3.38,5.00,3.00
Harlem (1993),1.50,NaN,NaN,NaN,5.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.00,NaN,NaN,NaN,NaN,NaN,NaN
Laura (1944),4.00,4.33,NaN,4.09,5.00,4.00,4.00,3.50,NaN,5.00,...,NaN,NaN,3.25,5.00,4.50,NaN,NaN,4.33,5.00,4.00
Top Hat (1935),4.00,5.00,NaN,3.80,5.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.75,3.50,4.00,NaN,NaN,4.00,5.00,4.50
Selena (1997),5.00,4.00,NaN,NaN,5.00,NaN,5.00,2.00,NaN,NaN,...,NaN,5.00,3.33,NaN,NaN,NaN,NaN,3.40,NaN,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ulee's Gold (1997),3.92,3.62,3.00,3.87,4.14,2.83,3.33,3.00,NaN,3.00,...,4.00,NaN,3.86,3.88,3.00,3.50,3.50,3.86,3.75,4.00
Shallow Grave (1994),4.50,2.00,4.00,3.60,4.14,4.00,5.00,1.00,NaN,NaN,...,NaN,3.00,3.00,3.33,3.00,NaN,3.00,4.20,5.00,3.00
Pulp Fiction (1994),4.03,4.40,4.50,4.22,4.14,4.62,3.92,4.14,NaN,3.80,...,2.67,3.67,3.82,4.06,3.80,4.00,4.46,4.07,3.87,4.18
"Godfather: Part II, The (1974)",3.88,4.25,5.00,4.48,4.12,4.50,4.33,4.50,NaN,4.00,...,4.60,3.00,3.90,4.17,4.33,3.00,4.50,4.22,4.00,4.15
Dead Poets Society (1989),4.11,4.00,NaN,4.12,4.12,3.75,3.89,2.75,NaN,4.00,...,4.17,5.00,3.76,4.15,3.50,5.00,3.80,3.90,4.08,3.60

Sort based on entertainment

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
"Madness of King George, The (1994)",4.00,3.00,4.00,3.92,4.00,5.00,4.00,2.00,NaN,4.00,...,4.00,NaN,3.71,3.43,4.00,4.00,4.50,3.71,4.20,3.33
Swingers (1996),3.20,4.17,4.00,3.70,3.93,5.00,3.33,2.50,4.00,3.75,...,3.60,5.00,3.79,3.88,NaN,NaN,4.00,3.90,4.40,3.29
Smoke (1995),3.60,NaN,3.00,3.43,3.50,5.00,4.50,2.50,NaN,4.00,...,3.33,NaN,3.80,3.50,4.00,5.00,4.00,3.64,3.67,3.25
Night on Earth (1991),4.25,4.00,3.00,5.00,3.50,5.00,NaN,1.00,NaN,5.00,...,5.00,NaN,3.50,3.50,4.00,NaN,4.00,3.50,4.50,3.00
Four Days in September (1997),5.00,NaN,NaN,5.00,NaN,5.00,1.00,2.00,NaN,NaN,...,5.00,NaN,4.50,NaN,NaN,NaN,NaN,3.50,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Waiting for Guffman (1996),4.00,4.00,NaN,3.75,NaN,4.50,4.00,3.00,NaN,NaN,...,4.00,NaN,4.33,4.00,4.00,NaN,3.00,4.50,4.00,3.80
Braveheart (1995),4.38,4.20,5.00,4.07,4.11,4.50,4.00,3.75,5.00,4.20,...,4.33,4.33,4.24,4.14,4.00,4.50,4.11,4.19,4.07,3.71
"Boot, Das (1981)",4.53,4.00,4.00,4.12,4.21,4.50,4.17,3.75,NaN,4.50,...,4.60,NaN,4.43,4.00,4.33,5.00,4.11,3.89,4.14,4.23
Monty Python and the Holy Grail (1974),3.90,4.60,4.00,4.14,4.21,4.50,3.44,2.75,NaN,3.80,...,3.83,3.33,3.64,4.30,3.50,4.50,4.00,4.32,3.88,4.36
Freeway (1996),4.33,NaN,NaN,1.00,2.75,4.50,3.00,4.00,NaN,NaN,...,NaN,2.00,3.50,3.83,2.00,NaN,NaN,3.90,4.00,2.25

Sort based on executive

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Don Juan DeMarco (1995),3.00,4.00,4.00,3.22,3.83,4.00,5.00,1.50,NaN,4.00,...,2.00,4.00,3.57,3.29,3.50,NaN,4.00,3.74,2.67,4.33
Grace of My Heart (1996),NaN,NaN,NaN,NaN,NaN,NaN,5.00,2.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.33,NaN,2.50
Winnie the Pooh and the Blustery Day (1968),4.17,NaN,NaN,3.86,3.55,3.00,5.00,3.50,NaN,NaN,...,2.50,NaN,4.00,3.25,NaN,NaN,4.00,3.94,3.20,4.25
As Good As It Gets (1997),4.43,4.00,4.00,4.20,3.50,3.67,5.00,4.50,4.50,4.25,...,5.00,4.00,4.23,4.44,3.33,4.50,4.00,4.21,4.00,4.40
Down by Law (1986),3.67,4.00,3.00,4.00,3.00,NaN,5.00,2.00,NaN,5.00,...,3.00,NaN,4.50,4.20,3.00,NaN,NaN,4.00,NaN,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Day the Earth Stood Still, The (1951)",4.71,4.00,4.00,4.00,3.78,3.50,4.33,4.33,NaN,2.00,...,4.00,NaN,4.09,4.00,3.33,NaN,4.00,3.80,3.67,3.60
Red Rock West (1992),4.14,3.00,NaN,3.20,3.88,4.00,4.33,2.00,NaN,NaN,...,NaN,NaN,2.67,3.33,4.50,NaN,4.00,3.50,NaN,4.00
"Great Escape, The (1963)",4.09,5.00,5.00,3.95,4.17,4.00,4.33,3.00,NaN,5.00,...,4.60,NaN,4.40,3.92,4.00,4.00,4.00,4.00,4.50,3.50
Short Cuts (1993),3.71,NaN,NaN,3.43,3.50,3.50,4.33,2.00,NaN,3.50,...,NaN,5.00,3.25,3.75,5.00,4.00,4.00,3.81,4.25,4.33
Highlander (1986),3.18,4.00,NaN,3.57,3.86,4.00,4.33,3.50,NaN,4.50,...,NaN,NaN,3.38,3.47,3.00,2.00,2.50,3.57,3.71,3.29

Sort based on healthcare

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
"39 Steps, The (1935)",3.80,5.00,4.00,4.38,4.17,4.00,4.00,5.00,NaN,4.25,...,4.00,NaN,4.00,3.33,4.00,NaN,4.00,4.25,3.00,4.20
Safe (1995),4.00,NaN,NaN,4.00,4.00,4.00,NaN,5.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.50,NaN,3.67
Jaws 2 (1978),4.00,NaN,NaN,2.50,2.00,2.75,NaN,5.00,NaN,3.00,...,3.00,4.00,2.75,2.50,2.00,3.00,NaN,2.73,2.00,2.00
"Quest, The (1996)",2.00,NaN,NaN,NaN,3.00,1.00,1.50,5.00,NaN,NaN,...,NaN,2.00,1.75,3.33,3.00,NaN,NaN,2.50,NaN,3.50
They Made Me a Criminal (1939),NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Anna Karenina (1997),3.50,3.67,5.00,3.67,3.00,5.00,2.00,4.00,NaN,4.00,...,3.67,NaN,2.33,1.00,NaN,5.00,NaN,2.00,NaN,3.00
"Gay Divorcee, The (1934)",5.00,NaN,NaN,3.33,NaN,NaN,NaN,4.00,NaN,NaN,...,NaN,NaN,3.50,NaN,3.00,NaN,NaN,NaN,5.00,4.33
"Farewell to Arms, A (1932)",3.00,NaN,NaN,3.67,NaN,NaN,4.00,4.00,NaN,4.00,...,4.00,NaN,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"American President, The (1995)",3.58,4.00,4.00,3.80,3.71,2.75,3.75,4.00,NaN,3.33,...,3.50,5.00,3.62,3.53,3.67,3.50,3.25,3.62,3.40,3.67
French Twist (Gazon maudit) (1995),3.50,3.00,NaN,3.33,3.00,NaN,1.00,4.00,NaN,4.00,...,NaN,NaN,3.29,3.50,2.00,NaN,3.25,3.33,3.00,3.00

Sort based on homemaker

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Everyone Says I Love You (1996),3.38,3.60,3.00,3.61,3.20,2.80,3.00,3.00,5.00,3.00,...,3.25,2.00,3.04,3.43,3.33,NaN,2.67,3.27,3.50,3.36
Searching for Bobby Fischer (1993),3.89,4.25,NaN,4.20,3.43,3.33,4.33,2.00,5.00,4.50,...,4.00,NaN,4.17,3.88,3.50,NaN,3.67,3.72,4.60,3.89
My Best Friend's Wedding (1997),3.18,2.00,3.00,3.39,3.09,4.00,3.75,3.67,5.00,NaN,...,3.33,4.00,3.47,3.62,4.00,NaN,3.50,3.61,2.33,3.00
That Thing You Do! (1996),3.76,3.33,4.00,3.47,3.25,3.60,3.20,3.00,5.00,4.00,...,3.67,4.50,3.47,3.38,3.00,3.33,3.20,3.64,2.83,3.12
Deceiver (1997),2.83,4.00,NaN,2.00,3.00,NaN,2.00,2.00,5.00,1.50,...,4.00,NaN,2.83,NaN,1.00,5.00,NaN,3.50,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Blues Brothers, The (1980)",3.75,3.00,3.00,3.71,4.07,3.00,4.14,3.60,3.00,4.00,...,3.67,NaN,3.95,4.14,3.50,4.33,3.86,4.02,3.80,3.43
My Fellow Americans (1996),2.75,1.00,5.00,3.20,2.88,3.00,3.75,3.50,3.00,3.00,...,3.00,3.00,3.22,3.62,2.00,1.00,4.00,3.17,4.00,2.50
"Smile Like Yours, A (1997)",NaN,3.00,5.00,2.33,3.00,3.00,2.50,NaN,3.00,NaN,...,NaN,5.00,2.00,4.00,NaN,NaN,4.00,2.71,NaN,NaN
U Turn (1997),3.67,5.00,5.00,2.75,4.33,2.67,2.67,NaN,3.00,2.50,...,3.00,NaN,3.80,3.00,NaN,NaN,4.00,3.35,3.00,3.80
Air Bud (1997),2.00,2.00,NaN,3.00,3.50,3.00,2.75,NaN,3.00,NaN,...,3.00,4.00,2.67,2.20,4.00,NaN,NaN,1.88,1.00,2.00

Sort based on lawyer

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Lost Horizon (1937),3.50,5.00,5.00,3.78,4.00,4.00,4.00,4.00,NaN,5.00,...,3.50,NaN,4.25,4.00,3.00,NaN,3.00,NaN,4.00,4.00
Jackie Chan's First Strike (1996),2.86,4.00,NaN,3.56,3.00,3.40,3.25,3.00,NaN,5.00,...,3.00,3.00,3.33,3.53,3.00,3.33,2.50,3.25,3.00,3.17
M (1931),3.75,4.00,NaN,4.50,4.00,NaN,NaN,2.67,NaN,5.00,...,NaN,NaN,4.00,2.50,3.50,NaN,4.00,4.50,4.00,4.25
"Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)",3.50,3.00,NaN,2.50,2.50,5.00,NaN,1.00,NaN,5.00,...,4.00,NaN,4.67,2.67,4.00,NaN,NaN,4.25,4.00,2.50
Father of the Bride (1950),3.43,4.00,NaN,3.80,3.50,NaN,4.00,3.00,NaN,5.00,...,3.67,NaN,4.00,3.33,3.50,NaN,4.00,3.33,2.50,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Devil in a Blue Dress (1995),3.60,4.00,NaN,4.00,3.25,2.33,3.50,1.50,NaN,4.50,...,3.50,NaN,3.00,3.00,4.00,4.00,2.50,3.64,3.00,3.67
"Return of the Pink Panther, The (1974)",4.00,4.33,NaN,3.27,3.56,NaN,3.67,4.00,NaN,4.50,...,2.50,NaN,3.75,3.75,3.67,3.00,4.00,3.31,4.00,3.17
"Remains of the Day, The (1993)",3.93,NaN,4.00,4.00,3.80,NaN,3.50,3.00,NaN,4.50,...,5.00,5.00,4.19,3.58,3.33,3.00,4.00,3.89,4.00,4.00
"Quiet Man, The (1952)",4.33,NaN,NaN,4.18,3.43,4.00,4.00,1.00,NaN,4.50,...,NaN,NaN,4.11,4.40,4.25,NaN,NaN,4.33,4.00,3.33
Serial Mom (1994),2.67,NaN,4.00,2.75,3.00,3.50,NaN,1.50,NaN,4.50,...,NaN,NaN,3.25,1.75,2.50,2.00,NaN,3.07,NaN,2.29

Sort based on librarian

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
"Die xue shuang xiong (Killer, The) (1989)",NaN,4.50,NaN,NaN,3.00,4.50,NaN,1.00,NaN,NaN,...,NaN,4.00,3.00,4.50,4.00,NaN,NaN,3.82,4.00,4.50
"Magic Hour, The (1998)",NaN,NaN,3.00,4.00,NaN,NaN,NaN,1.00,NaN,NaN,...,NaN,NaN,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
In the Bleak Midwinter (1995),NaN,NaN,NaN,3.50,4.00,4.00,1.00,NaN,NaN,NaN,...,NaN,NaN,5.00,4.00,NaN,NaN,NaN,3.33,4.00,NaN
Mad City (1997),3.57,3.00,NaN,3.67,NaN,2.25,3.00,NaN,NaN,5.00,...,2.00,NaN,3.12,2.40,3.00,4.00,3.00,4.00,NaN,2.33
My Favorite Season (1993),NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.00,NaN,NaN,...,NaN,NaN,NaN,NaN,3.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Three Colors: White (1994),3.00,3.00,4.00,4.00,4.00,3.00,4.00,2.67,NaN,3.00,...,NaN,NaN,4.67,4.29,3.00,NaN,4.00,4.22,4.00,2.67
"Crucible, The (1996)",2.67,2.00,NaN,3.50,3.25,1.00,3.60,2.50,3.00,NaN,...,4.00,NaN,3.43,3.00,NaN,3.00,3.50,3.53,3.00,3.00
Sling Blade (1996),4.23,5.00,NaN,4.25,4.10,4.50,4.00,3.00,NaN,4.50,...,3.75,NaN,4.20,4.17,3.67,4.50,3.67,4.22,4.33,4.50
Raise the Red Lantern (1991),5.00,5.00,NaN,4.18,3.25,NaN,4.00,2.50,NaN,NaN,...,3.00,NaN,4.67,4.25,4.00,NaN,4.75,4.14,NaN,4.00
"Wrong Trousers, The (1993)",4.60,5.00,4.00,4.50,4.64,5.00,4.00,1.00,NaN,5.00,...,5.00,NaN,4.27,4.76,5.00,5.00,4.00,4.25,5.00,4.33

Sort based on marketing

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
In the Line of Duty 2 (1987),NaN,NaN,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,...,5.00,NaN,2.00,3.00,NaN,NaN,NaN,NaN,NaN,NaN
Brassed Off (1996),5.00,3.50,4.00,4.33,4.00,NaN,NaN,2.50,NaN,NaN,...,5.00,NaN,3.50,4.00,NaN,NaN,4.00,4.40,NaN,3.00
Four Days in September (1997),5.00,NaN,NaN,5.00,NaN,5.00,1.00,2.00,NaN,NaN,...,5.00,NaN,4.50,NaN,NaN,NaN,NaN,3.50,NaN,NaN
Anne Frank Remembered (1995),NaN,5.00,NaN,4.50,3.33,NaN,2.00,3.50,NaN,NaN,...,5.00,NaN,4.00,3.00,NaN,NaN,3.50,4.50,NaN,4.50
Dangerous Beauty (1998),NaN,NaN,4.00,4.33,NaN,NaN,2.00,3.00,NaN,NaN,...,5.00,NaN,5.00,NaN,3.00,NaN,NaN,4.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Graduate, The (1967)",4.20,4.60,3.00,4.52,4.04,4.00,4.30,3.60,NaN,4.40,...,4.17,2.00,4.09,4.06,3.80,4.50,3.70,4.06,3.56,4.15
Forrest Gump (1994),4.08,3.57,NaN,3.92,3.77,4.50,4.45,3.57,1.00,4.17,...,4.14,5.00,3.85,4.04,3.80,4.25,3.70,3.90,3.73,3.50
Casablanca (1942),4.57,4.56,5.00,4.54,4.60,5.00,4.67,4.17,NaN,4.40,...,4.11,NaN,4.19,4.67,3.75,5.00,4.67,4.63,4.22,3.73
L.A. Confidential (1997),4.40,4.11,4.00,4.18,4.29,4.25,3.70,3.67,4.50,4.25,...,4.09,3.00,4.14,4.00,4.20,4.67,4.18,4.31,4.00,4.00
Star Wars (1977),4.36,4.67,4.50,4.52,4.48,4.38,4.39,3.91,4.00,4.50,...,4.07,4.40,4.19,4.54,3.88,4.40,4.16,4.42,4.45,3.96

Sort based on none

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Dangerous Minds (1995),3.00,NaN,NaN,3.50,2.67,NaN,2.00,3.50,NaN,NaN,...,NaN,5.00,3.43,4.33,NaN,4.00,3.00,3.33,3.50,2.00
Hercules (1997),NaN,2.33,NaN,3.50,3.67,3.50,4.50,2.00,4.00,NaN,...,2.50,5.00,3.00,4.00,NaN,3.00,NaN,3.62,3.50,4.00
From Dusk Till Dawn (1996),3.00,4.00,1.00,2.40,2.75,3.00,3.00,NaN,NaN,NaN,...,4.00,5.00,3.45,3.14,4.00,NaN,NaN,3.32,2.83,2.71
"Wizard of Oz, The (1939)",4.04,4.33,5.00,4.43,4.04,3.00,4.57,4.00,NaN,4.00,...,3.67,5.00,4.19,4.23,3.67,5.00,4.00,3.87,3.80,3.90
Mrs. Doubtfire (1993),3.43,NaN,2.00,3.62,3.21,3.75,3.57,3.50,NaN,3.50,...,4.00,5.00,3.81,3.62,3.20,3.33,4.00,3.14,3.20,3.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Terminator 2: Judgment Day (1991),4.00,4.10,NaN,4.00,3.81,4.40,4.00,3.50,NaN,4.00,...,3.83,4.67,4.17,4.06,3.33,3.00,4.00,3.96,4.27,4.36
"Full Monty, The (1997)",3.94,4.57,4.00,3.90,3.96,4.57,3.40,3.83,3.00,3.78,...,3.83,4.67,4.06,3.65,4.25,3.67,3.88,3.86,3.88,4.00
"Truth About Cats & Dogs, The (1996)",3.57,3.00,3.33,3.85,3.72,3.67,3.42,3.25,3.50,3.00,...,2.60,4.50,3.32,3.88,3.00,3.00,3.56,3.38,3.90,2.78
Scream 2 (1997),3.20,3.50,2.00,3.50,2.00,3.33,3.00,3.25,NaN,4.50,...,3.33,4.50,3.31,2.83,NaN,2.00,3.00,3.32,3.00,3.10
Return of the Jedi (1983),3.83,3.88,3.67,4.15,4.18,3.88,4.00,3.64,4.50,4.00,...,3.45,4.50,4.02,4.09,4.00,2.80,3.53,4.24,4.05,3.56

Sort based on other

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Incognito (1997),NaN,3.00,NaN,5.00,NaN,NaN,1.00,2.00,NaN,NaN,...,NaN,5.00,5.00,NaN,NaN,NaN,NaN,3.00,5.00,NaN
Delta of Venus (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,NaN,NaN,...,NaN,NaN,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
How to Be a Player (1997),NaN,2.00,NaN,3.00,NaN,3.50,2.00,NaN,NaN,NaN,...,3.00,3.00,5.00,1.00,NaN,NaN,NaN,2.90,NaN,1.00
"Young Poisoner's Handbook, The (1995)",3.67,4.50,NaN,3.00,2.50,4.00,2.00,4.00,NaN,NaN,...,NaN,NaN,5.00,2.67,NaN,NaN,2.00,4.00,3.00,2.50
"Ruling Class, The (1972)",NaN,5.00,NaN,4.00,2.00,NaN,3.00,3.00,NaN,NaN,...,3.00,NaN,5.00,NaN,4.00,NaN,NaN,NaN,NaN,4.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Much Ado About Nothing (1993),4.22,3.43,5.00,4.14,4.00,4.00,4.00,2.50,NaN,4.00,...,5.00,NaN,4.33,4.25,NaN,5.00,3.67,4.21,3.75,4.29
Mediterraneo (1991),4.00,4.00,2.00,3.17,4.00,NaN,4.00,1.00,NaN,NaN,...,NaN,NaN,4.33,4.00,NaN,NaN,4.00,4.33,NaN,NaN
Wallace & Gromit: The Best of Aardman Animation (1996),4.00,3.50,4.00,4.80,4.50,4.50,NaN,NaN,NaN,NaN,...,4.00,NaN,4.33,5.00,4.00,5.00,4.00,4.71,4.67,4.00
Touch of Evil (1958),4.00,5.00,NaN,4.00,4.00,4.00,4.00,2.00,NaN,NaN,...,NaN,NaN,4.33,3.75,4.00,4.00,NaN,3.88,NaN,4.25
Eat Drink Man Woman (1994),4.25,4.00,4.33,3.58,4.00,NaN,4.50,2.67,NaN,5.00,...,3.50,NaN,4.33,4.17,3.67,5.00,4.00,4.14,5.00,4.00

Sort based on programmer

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Fear (1996),NaN,NaN,NaN,3.50,3.00,NaN,3.75,3.50,NaN,NaN,...,NaN,3.67,2.78,5.00,NaN,NaN,NaN,3.06,2.00,3.00
"Mis�rables, Les (1995)",3.00,NaN,5.00,3.50,3.67,NaN,5.00,2.00,NaN,NaN,...,NaN,NaN,3.33,5.00,NaN,NaN,NaN,4.00,NaN,4.00
Old Yeller (1957),4.40,3.00,NaN,3.78,3.44,NaN,2.67,3.00,NaN,NaN,...,3.00,NaN,3.83,5.00,4.00,NaN,NaN,3.00,4.00,3.60
Girl 6 (1996),NaN,NaN,NaN,3.00,2.00,NaN,2.00,NaN,NaN,NaN,...,NaN,NaN,3.20,5.00,NaN,NaN,NaN,2.60,3.00,1.00
His Girl Friday (1940),4.40,NaN,NaN,3.82,4.00,5.00,4.00,4.50,NaN,4.00,...,3.50,NaN,4.00,5.00,4.50,NaN,NaN,3.75,3.33,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Man Without a Face, The (1993)",3.00,NaN,NaN,3.50,3.33,NaN,NaN,5.00,NaN,2.00,...,4.00,4.00,3.13,4.25,4.00,NaN,4.50,3.55,5.00,4.00
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963),4.28,4.29,5.00,4.57,4.29,4.67,4.29,4.00,NaN,4.00,...,4.00,NaN,4.00,4.24,4.00,5.00,4.71,4.24,3.90,4.25
Strictly Ballroom (1992),3.82,3.00,NaN,4.53,3.25,2.00,5.00,2.00,NaN,4.00,...,NaN,NaN,4.00,4.23,3.50,5.00,4.00,4.12,3.50,4.29
"Wizard of Oz, The (1939)",4.04,4.33,5.00,4.43,4.04,3.00,4.57,4.00,NaN,4.00,...,3.67,5.00,4.19,4.23,3.67,5.00,4.00,3.87,3.80,3.90
"Deer Hunter, The (1978)",3.62,5.00,NaN,4.00,3.58,3.33,3.75,4.00,NaN,3.67,...,3.75,NaN,4.31,4.22,3.00,NaN,4.60,3.67,3.83,3.00

Sort based on retired

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
"Mrs. Brown (Her Majesty, Mrs. Brown) (1997)",4.10,3.50,3.00,3.79,3.80,3.50,3.25,3.33,NaN,5.00,...,3.50,NaN,4.27,4.00,5.00,5.00,3.00,4.25,3.00,4.20
It Happened One Night (1934),3.71,3.00,NaN,4.22,3.33,4.00,4.50,3.60,NaN,4.33,...,4.00,NaN,4.38,3.75,5.00,NaN,4.00,4.00,3.33,3.80
Evil Dead II (1987),2.38,5.00,NaN,3.20,3.38,4.00,3.00,1.00,NaN,3.00,...,NaN,NaN,3.75,3.64,5.00,5.00,3.00,3.82,3.00,3.67
Love! Valour! Compassion! (1997),4.40,2.00,NaN,4.50,1.00,NaN,NaN,3.00,NaN,NaN,...,NaN,NaN,3.00,4.50,5.00,NaN,NaN,3.67,NaN,2.00
"Basketball Diaries, The (1995)",4.00,NaN,NaN,3.00,3.83,1.00,4.00,2.50,NaN,4.00,...,3.00,NaN,4.00,4.50,5.00,NaN,NaN,2.82,3.00,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Looking for Richard (1996),4.50,4.00,4.00,4.14,4.00,3.50,1.00,3.00,3.00,NaN,...,3.00,NaN,3.17,3.50,4.00,NaN,NaN,3.62,4.50,3.80
Microcosmos: Le peuple de l'herbe (1996),5.00,3.33,2.00,4.50,NaN,3.00,1.00,1.00,NaN,NaN,...,NaN,NaN,5.00,NaN,4.00,NaN,NaN,4.17,NaN,NaN
"Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)",2.00,NaN,NaN,NaN,NaN,NaN,1.00,NaN,NaN,NaN,...,5.00,NaN,NaN,1.00,4.00,NaN,NaN,NaN,NaN,NaN
8 1/2 (1963),4.00,4.00,3.00,4.10,4.50,4.00,NaN,3.00,NaN,NaN,...,NaN,NaN,3.33,1.00,4.00,NaN,NaN,4.00,NaN,4.50
Manhattan Murder Mystery (1993),4.00,NaN,NaN,4.33,4.25,NaN,NaN,2.00,NaN,NaN,...,3.00,NaN,4.00,3.50,4.00,NaN,NaN,3.29,NaN,4.00

Sort based on salesman

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
"Mrs. Brown (Her Majesty, Mrs. Brown) (1997)",4.10,3.50,3.00,3.79,3.80,3.50,3.25,3.33,NaN,5.00,...,3.50,NaN,4.27,4.00,5.00,5.00,3.00,4.25,3.00,4.20
In the Company of Men (1997),4.33,4.50,NaN,3.67,3.67,3.33,2.75,4.00,NaN,4.00,...,3.75,3.00,3.86,3.00,4.00,5.00,3.50,3.85,3.67,2.80
Apt Pupil (1998),4.36,4.00,4.00,4.00,4.17,4.50,4.67,3.75,4.50,4.25,...,4.75,3.00,3.84,4.29,3.33,5.00,4.50,4.00,4.50,3.86
"Sound of Music, The (1965)",3.65,4.00,3.00,3.62,3.41,4.00,3.88,4.00,3.00,4.75,...,4.33,5.00,4.22,3.71,3.50,5.00,3.50,3.86,2.75,4.10
Fried Green Tomatoes (1991),4.00,3.33,NaN,4.31,3.58,4.50,3.25,2.75,NaN,3.50,...,3.00,NaN,3.90,3.50,3.50,5.00,3.50,3.78,4.20,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Grosse Pointe Blank (1997),3.91,4.00,4.50,3.36,3.33,3.80,2.83,3.00,NaN,4.00,...,3.50,4.00,3.61,3.71,3.50,4.50,3.00,3.85,3.67,3.60
Jerry Maguire (1996),3.76,3.20,4.00,3.60,3.83,3.78,3.63,3.62,4.50,3.00,...,3.29,4.33,3.76,3.54,3.38,4.50,3.67,3.83,3.70,3.57
Jaws (1975),3.70,3.43,NaN,3.71,3.79,4.38,4.00,3.40,NaN,4.33,...,4.00,4.33,3.82,3.91,3.67,4.50,3.89,3.70,3.64,3.71
Sling Blade (1996),4.23,5.00,NaN,4.25,4.10,4.50,4.00,3.00,NaN,4.50,...,3.75,NaN,4.20,4.17,3.67,4.50,3.67,4.22,4.33,4.50
"Postman, The (1997)",3.78,3.67,NaN,3.33,3.00,1.00,3.00,5.00,NaN,3.00,...,4.00,NaN,2.40,3.00,4.00,4.50,2.00,2.45,NaN,3.00

Sort based on scientist

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Widows' Peak (1994),4.00,NaN,NaN,3.00,3.40,NaN,NaN,2.00,NaN,5.00,...,NaN,NaN,NaN,NaN,4.00,NaN,5.00,3.25,NaN,4.00
"Man Who Would Be King, The (1975)",4.00,4.50,NaN,3.91,4.25,4.00,4.67,1.00,NaN,4.67,...,5.00,NaN,3.75,4.20,4.00,NaN,5.00,4.00,3.80,3.50
Enchanted April (1991),4.29,5.00,NaN,3.92,4.50,4.00,5.00,2.50,NaN,5.00,...,NaN,NaN,3.71,3.75,NaN,NaN,5.00,4.00,3.00,3.33
"Nightmare on Elm Street, A (1984)",2.62,1.50,NaN,2.60,3.33,4.00,3.00,3.50,NaN,4.00,...,1.00,5.00,3.27,2.92,2.50,3.50,5.00,3.30,1.67,3.80
Reservoir Dogs (1992),4.38,4.00,NaN,4.12,3.85,4.60,3.50,2.00,NaN,4.50,...,3.25,3.00,3.17,4.41,3.00,5.00,5.00,4.12,4.20,3.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Boot, Das (1981)",4.53,4.00,4.00,4.12,4.21,4.50,4.17,3.75,NaN,4.50,...,4.60,NaN,4.43,4.00,4.33,5.00,4.11,3.89,4.14,4.23
Braveheart (1995),4.38,4.20,5.00,4.07,4.11,4.50,4.00,3.75,5.00,4.20,...,4.33,4.33,4.24,4.14,4.00,4.50,4.11,4.19,4.07,3.71
"Terminator, The (1984)",3.95,4.50,NaN,3.78,3.96,4.40,4.18,3.86,NaN,4.00,...,3.83,4.00,3.80,4.15,3.50,3.00,4.11,3.83,4.23,3.42
Star Trek: First Contact (1996),3.85,3.44,3.33,3.48,3.76,4.25,3.93,3.38,5.00,4.33,...,3.50,3.67,3.55,3.57,3.00,4.67,4.10,3.51,3.69,3.82
"Great Escape, The (1963)",4.09,5.00,5.00,3.95,4.17,4.00,4.33,3.00,NaN,5.00,...,4.60,NaN,4.40,3.92,4.00,4.00,4.00,4.00,4.50,3.50

Sort based on student

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Prefontaine (1997),5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.00,NaN,NaN
Critical Care (1997),3.33,NaN,5.00,3.33,2.00,NaN,NaN,1.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.00,NaN,1.00
"Mark of Zorro, The (1940)",4.00,4.00,NaN,3.40,3.67,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.00,NaN,NaN,NaN,NaN,5.00,3.00,NaN
Dream With the Fishes (1997),NaN,2.00,NaN,4.00,NaN,NaN,NaN,2.00,NaN,NaN,...,3.00,NaN,3.00,NaN,NaN,NaN,NaN,5.00,NaN,NaN
"Horse Whisperer, The (1998)",NaN,NaN,NaN,4.00,NaN,3.00,NaN,1.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.00,NaN,5.00,NaN,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Bridge on the River Kwai, The (1957)",4.28,4.50,NaN,4.39,4.18,4.00,4.57,3.50,NaN,4.67,...,4.33,5.00,3.81,4.38,4.67,5.00,3.75,4.27,4.30,3.91
Raiders of the Lost Ark (1981),4.38,4.46,4.00,4.24,4.59,4.33,4.62,4.00,4.00,4.17,...,4.22,4.50,4.17,4.36,4.00,4.33,3.92,4.27,4.18,3.86
Shine (1996),3.73,4.00,3.00,3.80,3.50,4.00,4.50,3.00,NaN,5.00,...,3.00,5.00,3.88,4.57,3.67,5.00,4.00,4.26,5.00,3.00
"Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)",3.50,3.00,NaN,2.50,2.50,5.00,NaN,1.00,NaN,5.00,...,4.00,NaN,4.67,2.67,4.00,NaN,NaN,4.25,4.00,2.50
Restoration (1995),4.25,2.50,NaN,3.12,3.40,3.33,2.00,3.00,NaN,4.00,...,3.00,NaN,3.80,4.00,3.00,NaN,3.00,4.25,NaN,3.00

Sort based on technician

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Shine (1996),3.73,4.00,3.00,3.80,3.50,4.00,4.50,3.00,NaN,5.00,...,3.00,5.00,3.88,4.57,3.67,5.00,4.00,4.26,5.00,3.00
"Horseman on the Roof, The (Hussard sur le toit, Le) (1995)",NaN,NaN,NaN,4.00,NaN,4.00,NaN,3.00,NaN,NaN,...,NaN,NaN,5.00,NaN,NaN,NaN,5.00,4.00,5.00,NaN
Manon of the Spring (Manon des sources) (1986),3.75,4.50,4.00,4.43,4.00,NaN,4.00,3.50,NaN,NaN,...,NaN,NaN,4.14,4.33,4.33,NaN,4.00,4.22,5.00,4.25
Incognito (1997),NaN,3.00,NaN,5.00,NaN,NaN,1.00,2.00,NaN,NaN,...,NaN,5.00,5.00,NaN,NaN,NaN,NaN,3.00,5.00,NaN
Top Hat (1935),4.00,5.00,NaN,3.80,5.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.75,3.50,4.00,NaN,NaN,4.00,5.00,4.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Desperate Measures (1998),3.50,3.50,NaN,2.33,2.50,3.67,2.83,3.50,NaN,NaN,...,2.00,4.00,3.14,3.00,3.00,5.00,3.00,3.46,4.33,3.67
"Usual Suspects, The (1995)",4.33,4.50,4.67,4.50,4.40,4.80,4.20,4.00,NaN,5.00,...,4.25,4.50,4.24,4.46,3.80,4.67,4.36,4.49,4.33,4.18
"Hunchback of Notre Dame, The (1996)",3.17,2.50,3.00,3.40,3.36,2.00,4.00,4.00,4.00,NaN,...,2.50,4.00,3.56,3.60,2.67,3.00,3.00,3.44,4.33,3.00
Mother Night (1996),NaN,NaN,NaN,1.00,3.60,3.00,1.00,2.00,NaN,NaN,...,NaN,NaN,2.00,NaN,2.00,4.00,NaN,4.00,4.33,2.67
Some Kind of Wonderful (1987),3.33,4.00,4.00,3.71,3.25,4.00,3.00,3.00,NaN,NaN,...,NaN,3.50,3.83,3.00,NaN,4.00,NaN,3.93,4.33,2.83

Sort based on writer

Occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
movie title,,,,,,,,,,,,,,,,,,,,,
Caught (1996),3.00,NaN,NaN,3.00,NaN,NaN,1.00,3.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.00,NaN,NaN,5.00
Kaspar Hauser (1993),4.00,NaN,NaN,5.00,4.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.00,NaN,NaN,5.00
Dark City (1998),NaN,3.00,NaN,3.50,NaN,3.50,4.00,NaN,NaN,NaN,...,2.00,NaN,4.00,NaN,NaN,NaN,NaN,3.43,NaN,5.00
Twisted (1996),3.00,3.00,NaN,NaN,NaN,NaN,3.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.50,NaN,5.00
Welcome To Sarajevo (1997),4.67,NaN,NaN,4.00,1.00,2.00,2.00,3.50,NaN,NaN,...,4.00,NaN,3.50,NaN,2.00,NaN,NaN,3.50,NaN,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Duck Soup (1933),3.78,4.33,NaN,3.62,4.42,3.50,3.67,2.67,NaN,3.33,...,4.00,NaN,4.25,4.33,4.00,NaN,3.67,4.00,4.67,4.22
Notorious (1946),4.17,4.33,NaN,4.44,3.80,5.00,4.50,5.00,NaN,4.00,...,4.00,NaN,4.67,3.25,3.00,NaN,NaN,3.86,NaN,4.20
"39 Steps, The (1935)",3.80,5.00,4.00,4.38,4.17,4.00,4.00,5.00,NaN,4.25,...,4.00,NaN,4.00,3.33,4.00,NaN,4.00,4.25,3.00,4.20
Antonia's Line (1995),4.50,4.00,1.00,3.60,3.75,NaN,3.00,3.33,NaN,NaN,...,NaN,NaN,4.42,4.00,3.00,NaN,5.00,4.17,5.00,4.20
East of Eden (1955),3.71,3.67,NaN,4.00,4.00,4.00,4.33,4.00,NaN,3.00,...,NaN,NaN,3.67,4.33,3.33,NaN,4.00,4.00,3.00,4.20

In [7]:
Genre_data = pandas.read_csv("ml-100k/u.genre", sep="|", names=['Genre', 'Genre_code'])


#영화별로 평점 및 장르와 테이블 병합
rate_CNT = D_U_I.pivot_table('Rating', aggfunc='count', index = 'movie title')
rate_CNT = rate_CNT.sort_values(by='Rating', ascending=False)

#데이터를 담을 테이블 초기화
Genre_Table = pandas.DataFrame({'Genre' : ['NULL'], 'Count':[0]})
Count_Frame = pandas.DataFrame(data=Genre_Table)

for i in range(0, 19):
    now_Genre_Name = Genre_data.iloc[i,0]   # 장르 이름
    data_to_insert = {'Genre': [now_Genre_Name], 'Count': [0]}
    df_to_insert = pandas.DataFrame(data=data_to_insert)
    Count_Frame = Count_Frame.append(df_to_insert, ignore_index=True)
    
Count_Frame = Count_Frame.drop(0)

rate_CNT = D_U_I.pivot_table('Rating', aggfunc='count', index = 'movie title')
C_I = pandas.merge(rate_CNT, item, on='movie title')

for j in range(6, 6+len(Count_Frame)) : 
    for i in range(0, len(C_I)):
        if C_I.iloc[i, j] == 1 :
            now_CNT = C_I.iloc[i, 1]
            Count_Frame.iloc[j-6, 1] += now_CNT #평점 누적

pandas.options.display.float_format = '{:.0f}'.format
rate_CNT_Genre = Count_Frame.sort_values(by='Count', ascending=False)
display(rate_CNT_Genre)

          Genre  Count
9         Drama  40665
6        Comedy  29974
2        Action  25750
17     Thriller  22016
15      Romance  19852
3     Adventure  14002
16       Sci-Fi  12799
18          War   9398
7         Crime   8156
5    Children's   7403
12       Horror   5389
14      Mystery   5286
13      Musical   4954
4     Animation   3605
19      Western   1854
11    Film-Noir   1733
10      Fantasy   1352
8   Documentary    758
1       unknown     10

In [8]:
# 데이터를 담을 테이블 초기화
Genre_Table = pandas.DataFrame({'Genre' : ['NULL'], 'M_Count': [0], 'F_Count': [0]})
Count_Frame = pandas.DataFrame(data=Genre_Table)

for i in range(0, 19):
    now_Genre_Name = Genre_data.iloc[i,0]   # 장르 이름
    data_to_insert = {'Genre': [now_Genre_Name], 'M_Count': [0], 'F_Count': [0]}
    df_to_insert = pandas.DataFrame(data=data_to_insert)
    Count_Frame = Count_Frame.append(df_to_insert, ignore_index=True)
    
Count_Frame = Count_Frame.drop(0)

rate_CNT = D_U_I.pivot_table('Rating', aggfunc='count', index = 'movie title', columns ='Gender')
C_I = pandas.merge(rate_CNT, item, on='movie title')


for j in range(7, 7+len(Count_Frame)) : 
    for i in range(0, len(C_I)):
        if C_I.iloc[i, j] == 1 :
            now_CNT_F = C_I.iloc[i, 1]
            now_CNT_M = C_I.iloc[i, 2]
            if not math.isnan(now_CNT_F):
                Count_Frame.iloc[j-7, 1] += now_CNT_F #평점 누적
            if not math.isnan(now_CNT_M):
                Count_Frame.iloc[j-7, 2] += now_CNT_M #평점 누적

pandas.options.display.float_format = '{:.0f}'.format
rate_CNT_Genre_Gender = Count_Frame.sort_values(by='M_Count', ascending=False)
print("Sort based on M")
display(rate_CNT_Genre_Gender)

print("Sort based on F")
rate_CNT_Genre_Gender = Count_Frame.sort_values(by='F_Count', ascending=False)
display(rate_CNT_Genre_Gender)

Sort based on M

          Genre  M_Count  F_Count
9         Drama    11217    29448
6        Comedy     8109    21865
15      Romance     5957    13895
2        Action     5484    20266
17     Thriller     5117    16899
3     Adventure     3219    10783
16       Sci-Fi     2639    10160
5    Children's     2307     5096
18          War     2189     7209
7         Crime     1824     6332
13      Musical     1442     3512
14      Mystery     1326     3960
12       Horror     1208     4181
4     Animation      995     2610
11    Film-Noir      385     1348
19      Western      371     1483
10      Fantasy      363      989
8   Documentary      187      571
1       unknown        2        8

Sort based on F

          Genre  M_Count  F_Count
9         Drama    11217    29448
6        Comedy     8109    21865
2        Action     5484    20266
17     Thriller     5117    16899
15      Romance     5957    13895
3     Adventure     3219    10783
16       Sci-Fi     2639    10160
18          War     2189     7209
7         Crime     1824     6332
5    Children's     2307     5096
12       Horror     1208     4181
14      Mystery     1326     3960
13      Musical     1442     3512
4     Animation      995     2610
19      Western      371     1483
11    Film-Noir      385     1348
10      Fantasy      363      989
8   Documentary      187      571
1       unknown        2        8

In [9]:
# 데이터를 담을 테이블 초기화
Genre_Table = pandas.DataFrame({'Genre' : ['NULL'],'administrator' : [0], 'artist' : [0], 'doctor' : [0], 'educator' : [0], 'engineer' : [0],
                                'entertainment' : [0], 'executive' : [0], 'healthcare' : [0], 'homemaker' : [0],
                                'lawyer' : [0], 'librarian' : [0], 'marketing' : [0], 'none' : [0], 'other' : [0],
                                'programmer' : [0], 'retired' : [0], 'salesman' : [0], 'scientist' : [0],
                                'student' : [0], 'technician' : [0], 'writer' : [0]})
Count_Frame = pandas.DataFrame(data=Genre_Table)

for i in range(0, 19):
    now_Genre_Name = Genre_data.iloc[i,0]   # 장르 이름
    data_to_insert = {'Genre': [now_Genre_Name],'administrator' : [0], 'artist' : [0], 'doctor' : [0], 'educator' : [0], 'engineer' : [0],
                                'entertainment' : [0], 'executive' : [0], 'healthcare' : [0], 'homemaker' : [0],
                                'lawyer' : [0], 'librarian' : [0], 'marketing' : [0], 'none' : [0], 'other' : [0],
                                'programmer' : [0], 'retired' : [0], 'salesman' : [0], 'scientist' : [0],
                                'student' : [0], 'technician' : [0], 'writer' : [0]}
    df_to_insert = pandas.DataFrame(data=data_to_insert)
    Count_Frame = Count_Frame.append(df_to_insert, ignore_index=True)    
Count_Frame = Count_Frame.drop(0)


rate_CNT = D_U_I.pivot_table('Rating', aggfunc='count', index = 'movie title', columns ='Occupation')
C_I = pandas.merge(rate_CNT, item, on='movie title')

for j in range(26, 26+len(Count_Frame)) : 
    for i in range(0, len(C_I)):
        if C_I.iloc[i, j] == 1 :
            for k in range(1, 22):
                now_CNT = C_I.iloc[i, k]
                if not math.isnan(now_CNT):
                    Count_Frame.iloc[j-26, k] += now_CNT #평점 누적
                    
pandas.options.display.float_format = '{:.0f}'.format
for i in range(0, 21):
    name = Occu_data.iloc[i, 0]
    rate_CNT = Count_Frame.sort_values(by=name, ascending=False)
    print("Sort based on " + name)
    display(rate_CNT)

Sort based on administrator

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on artist

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on doctor

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on educator

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on engineer

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on entertainment

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on executive

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on healthcare

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on homemaker

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94

Sort based on lawyer

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on librarian

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on marketing

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on none

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on other

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on programmer

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on retired

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on salesman

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on scientist

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on student

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on technician

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1

Sort based on writer

,Genre,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
9,Drama,3148,988,245,4352,3186,831,1435,1322,106,...,842,274,4393,2836,738,322,958,7954,1321,2248
6,Comedy,2210,621,170,2714,2442,578,959,724,95,...,537,257,3191,2428,514,316,538,6995,1062,1582
17,Thriller,1583,480,117,1783,1723,559,819,568,95,...,445,263,2333,1757,311,201,471,5165,799,1317
2,Action,1872,533,112,1971,2279,505,818,579,96,...,479,303,2700,2328,278,224,571,6444,1087,1296
15,Romance,1566,479,135,2032,1489,355,602,508,61,...,390,153,2219,1421,324,168,452,4263,662,1028
3,Adventure,1045,318,59,1154,1310,261,448,329,44,...,253,162,1466,1249,163,102,290,3408,564,684
16,Sci-Fi,949,309,56,999,1229,291,393,269,30,...,223,145,1246,1170,130,98,318,3080,531,681
7,Crime,577,204,41,714,614,210,294,203,26,...,163,75,841,670,141,81,179,1864,278,501
12,Horror,398,104,18,434,423,194,157,123,9,...,88,56,540,392,66,49,70,1351,164,464
18,War,786,225,44,1005,858,174,312,230,28,...,228,55,1000,755,145,77,255,1770,383,445
5,Children's,479,208,29,616,642,113,240,219,26,...,170,93,914,594,115,41,111,1798,225,381
14,Mystery,386,165,27,535,365,133,204,140,32,...,128,33,588,378,100,40,122,1018,178,340
13,Musical,354,157,27,481,441,68,131,126,15,...,114,43,566,385,93,27,91,1078,175,272
4,Animation,203,121,22,263,363,62,91,89,9,...,79,43,421,312,35,15,61,914,132,176
11,Film-Noir,147,64,9,202,145,47,58,50,4,...,40,12,146,141,43,14,39,269,46,125
19,Western,168,29,5,189,180,27,49,47,0,...,35,10,172,162,33,16,24,408,89,94
10,Fantasy,94,24,7,112,125,25,50,38,3,...,20,12,144,117,22,9,20,352,38,71
8,Documentary,48,34,13,107,51,23,26,45,2,...,12,1,65,51,16,2,17,117,24,46
1,unknown,0,0,0,1,1,1,1,0,0,...,0,1,1,1,0,0,0,1,1,1